#map {
    height: 98vh;
    min-height: 600px;
    width: 100%
}

#application {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#interface {
    position: absolute;
    z-index: 9999;
    float: right;
    margin-top: 10px;
    right: 10px;
    background-color: white;
    width: max-content;
    padding: 10px;
    text-align: right;
    border-radius: 4px;
    top: 0;
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

#info-container {
    z-index: 9999;
    position: absolute;
    width: 25%;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    margin-top: 250px;
    border-radius: 4px;
    top: 0;
    max-height: 600px;
    overflow-y: scroll;
}

.info-container-close {
    float: right;
    cursor: pointer;
}

#forms {
}

.hide {
    display: none;
}

.inlineBlock {
    display: inline-block;
}

.newExpedition-form{

}

.newPlace-form {
}

.newExpedition-form, .newPlace-form{
    margin-top: 20px
}

.newExpedition-form div, .newPlace-form div, #images-forms div{
    margin-top: 10px
}

#images-forms div div {
    margin-top: 5px;
}

.info-container-place-images {
}

.info-container-place-images img {
    max-width: 30%;
    height: auto;
    vertical-align: top;
}

.newExpedition-button, .addToExpedition-button {

}

.cancel-button {
}

.legend {
    background-color: white;
    padding: 10px;
}

.legend i {
    width: 18px;
    height: 5px;
    margin-top: 6px;
    float: left;
    margin-right: 8px;
}